<% layout("./layouts/boilerplate") %>

<br />
<div class="row">
  <div class="alert alert-danger offset-3 col-6" role="alert">
    <h4 class="alert-heading"><%= statusCode %> Error!</h4>
    <p><%= message %>. Please try again.</p>
    <hr />
    <p class="mb-0">If you continue to have issues, please contact support.</p>
  </div>
</div>
